  <header>
    <div class="row">
      <div class="twelve columns">
        <h1>Rapid Prototyping</h1>
        <h4>Mockups don't tell a story. Build a prototype in no time.</h4>
      </div>
    </div>
  </header>

  <section id="mainContent">

    <div class="row">

      <div class="ten columns push-two">
        <p class="show-for-small"><a href="index.php">&larr; Back to Home</a></p>
      	<%= image_tag "feature-prototyping-1.jpg" %>
        <h4>Mockups don't tell a story. Build a prototype in no time.</h4>
        <p>The difference between a good site and a great site is iteration &mdash; building something, playing with it, refining it. In Foundation we've included dozens of styles to help you quickly prototype a site; multiple button sizes and styles, tabs, custom form elements, modal dialogs, image sliders and a lot more. All of the prototype elements are production-ready code, and easy to style up. <a href="docs/elements.php">UI Docs &rarr;</a></p>

        <h4>Examples</h4>
        <div class="row">
        	<div class="four columns">
        	  <a href="http://zurb.net/zurbwired2011/projects/zurbwired2011/frame/prototype/public/" target="_blank">
        	    <%= image_tag "feature-prototyping-2.png" %>
        	    <p>Rebekah Children's Services
Wireframe Prototype</p>
        	  </a>
        	</div>
        	<div class="four columns">
        	  <%= link_to examples_prototype_path(id:2), target: "_blank" do %>
        	    <%= image_tag "feature-prototyping-3.png" %>
        	    <p>Games Site</p>
        	  <% end %>
        	</div>
        	<div class="four columns">
        	  <%= link_to examples_prototype_path(id:3), target: "_blank" do %>
        	    <%= image_tag "feature-prototyping-4.png" %>
        	    <p>Social App</p>
        	  <% end %>
        	</div>
        </div>

      </div>
      <div class="two columns pull-ten">
        <%= render "sidebar" %>
      </div>
    </div>

  </section>
