<!-- ZURBar -->
<div class="container top-bar home-border">
  <div class="attached">
    <div class="name" onclick="void(0);">
      <span><%= link_to "Foundation", root_path %> <a href="#" class="toggle-nav"></a></span>
		</div>

		<ul class="right">
			<li>
			  <%= link_to "Features", features_root_path %>
			</li>
			<li>
			  <%= link_to "Case Studies", case_studies_root_path %>
			</li>
			<li>
			  <%= link_to "Documentation", docs_root_path %>
			</li>
		  <li>
		    <%= link_to "GitHub", "http://github.com/zurb/foundation" %>
			</li>
			<li class="download">
			  <%= link_to "Download", download_path, 
			    class: "small blue nice button src-download" %>
			</li>
		</ul>
	</div>
</div>